<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
  <title>ToDo List</title>
</head>

<body>
  <div class="container">
    <div class="to-do-container">
      <form method="POST">
        <div class="to-do-add">
          <input type="text" name="add_task" class="to-do-input" placeholder="What will you do today?">
          <button class="add-task"> add </button>
        </div>
      </form>
      <div class="container-splitter"></div>

      <div class="to-do-tasks">
        {% for task in tasks %}
        <div class="task-item">
          <input class="checkbox" type="checkbox" checked="checked">
          <span class="todo-text">{{ task.content }}</span>
          <button class="task-delete">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
          </button>
        </div>
        <div class="item-splitter"></div>
        {% endfor %}
      </div>

      <div class="container-splitter"></div>

    </div>
  </div>
</body>

</html>
